.main-resource-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
}

.main-resource-container-img {
  border-radius: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.main-resource-img {
  width: 50px;
}

.main-resource-per-click {
  font-size: 10px;
  opacity: 0.5;
  margin-top: -7px;
}
